Il numero di partite da giocare per questo turno sono <%= @giornata.games.size%>
<%= form_tag :action => :create_plus, :method => :post do %>
		<ul>
			<% @bets.each_with_index do |bet, index| %>
				
					<%= fields_for "bets[#{index}]", bet do |f| %>
					  	<li>
					  	<%= f.hidden_field :game_id %>
						<%= f.hidden_field :round_id %>
						<%= f.hidden_field :champion_id %>
					  	
					  	<div class="squadra_casa">
								<%=h @squadre_casa_sponsor[@j] %> <%=h @squadre_casa[@j]%>
						</div>
						
						<div class="versus"> - </div>
						
						<div class="squadra_fuori">
								<%=h @squadre_fuori_sponsor[@j] %> <%=h @squadre_fuori[@j]%>
						</div>
						
						<div class="scommessa">
							<%= f.radio_button :bid, "1" %>  <%= f.radio_button :bid, "2" %>
						</div>
						
						<% @j = @j + 1 %>
						</li>
					<% end %>
				
			
			<% end %><!-- each loop -->
		</ul>
	<div class="submit">
		<%= submit_tag "Gioca"%>
	</div>	
<% end %>