Il numero di partite da giocare per questo turno sono <%= @giornata.games.size%>
<!--
<% @giornata.games.each do |p| %>
	<div>
		<div class="sponsor"><%= p.home_team.sponsor%></div> <%= p.home_team.nome %>
		 -  
		<div class="sponsor"><%= p.away_team.sponsor%></div> <%= p.away_team.nome %>
	</div>
<% end %>
-->
<% form_tag :action => :create_plus, :method => :post do %>
		<ul>
			<% @bets.each_with_index do |bet, index| %>
				<li>
					<%= fields_for "bets[#{index}]", bet do |f| %>
					  	
					  	<%= f.hidden_field :game_id %>
						<%= f.hidden_field :round_id %>
						<%= f.hidden_field :champion_id %>
					  	
					  	<div class="partita">
								<%=h @squadre_casa_sponsor[@j] %> <%=h @squadre_casa[@j]%> - <%=h @squadre_fuori_sponsor[@j] %> <%=h @squadre_fuori[@j]%>
						</div>
						
						<div class="scommessa">
							<%= f.radio_button :bid, "1" %>  <%= f.radio_button :bid, "2" %>
						</div>
						
						
					<% end %>
				</li>
			<% @j = @j + 1 %>
			<% end %><!-- each loop -->
		</ul>
	<div class="submit">
		<%= submit_tag "Gioca"%>
	</div>	
<% end %>
