<% stylesheet 'welcome'%>

<div id="benvenuto_sx">
	<div class="font_titolo">
		Iscriviti
	</div>
	
	<div class="font_titolo">
		Crea i tuoi gruppi
	</div>
	
	<div class="font_titolo">
		Gioca
	</div>
</div>

<div id="benvenuto_dx">
	<%= form_for(resource_name, resource, :url => session_path(resource_name)) do |f| %>  
	  <ol class="formList">
	    <li><%= f.label :username %></li>
	    <li><%= f.text_field :username %></li>
	    <div class="separa"></div>  
	    <li><%= f.label :password %></li>
	    <li><%= f.password_field :password %></li>
	    <div class="separa"></div>
	    <% if devise_mapping.rememberable? -%>  
	    <li><%= f.check_box :remember_me %> <div id="ricordami"><%= f.label :remember_me %></div></li>
	    <div class="separa"></div>
	    <% end %>  
	    <li><%= f.submit '' %></li>  
	  </ol>  
	<% end %>
	  
	<%= render :partial => "devise/shared/links" %>
</div>
