<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", "jquery.rails.js" %>
  <%= csrf_meta_tag %>
  <title>Pronostici</title>
</head>
<body>
	
	<div id="avvisi">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>
	
	<div id="user_nav">  
	  <% if user_signed_in? %>  
	    Connesso come <%= current_user.username %>. Non sei tu?  
	    <%= link_to "Sign out", destroy_user_session_path %>  
	  <% else %>  
	    <%= link_to "Sign up", new_user_registration_path %> or  
	    <%= link_to "Sign in", new_user_session_path %>  
	  <% end %>  
	</div>
	
	<%= yield %>
<script type="text/javascript">
//change this to true to enable troubleshooting mode
var myfont_webfont_test = false;
// change this to false if you're having trouble with WOFFs
var woffEnabled = true;
// to place your webfonts in a custom directory, uncomment this and set it to where your webfonts are.
//var customPath = "/themes/fonts";
</script>
<script type="text/javascript" src="/fonts/MyFontsWebfontsOrderM2878907.js"></script>
</body>
</html>
